
<div class = " center jumbotron">
 <h1>Direct Family Solutions</h1>
 <p>Direct Family Solutions</p>
 <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>


<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
